/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.content {
  display: none;
}

html {
  background-color: black;
}

body {
  background-color: black;
  font-size: 16px;
  /*color: #555557;*/
}

.row-fluid {
  background-color: black;
}

@media all and (max-width: 979px) {
  body {
    padding-top: 0;
    background-color: black;
  }
}

h1 {
  margin-top: 10%;
  color: #555557;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 5%;
}

label {
  color: #555557;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.btn-large, .btn {
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 1%;
}

textarea, input, input[type="text"], input[type="radio"]{
  background-color: #383737;
  border: 1px solid #CCC;
  color: #9B9696;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.alert-error{
  background-color: rgba(242, 222, 222, 0.95);
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 25px solid #424141;
}